<h4>spring boot</h4>
<p>
    Our datepicker is flexible and fully customizable.

    You can navigate through days, months and years.

    The datepicker has 3 modes:

    day - In this mode you're presented with a 6-week calendar for a specified month.
    month - In this mode you can select a month within a selected year.
    year - In this mode you are presented with a range of years (20 by default).
    uib-datepicker settings
    ng-model $  - The date object. Must be a Javascript Date object. You may use the uibDateParser service to assist in string-to-object conversion.

    ng-model-options $ C (Default: {}) - Supported angular ngModelOptions:

    allowInvalid
    timezone
    template-url (Default: uib/template/datepicker/datepicker.html) - Add the ability to override the template used on the component.

    Apart from the previous settings, to configure the uib-datepicker you need to create an object in Javascript with all the options and use it on the datepicker-options attribute:
</p>