<link href="css/custom/main.css" rel="stylesheet" type="text/css">
<div>
    <div class="head-pan">
        <div class="icon">
        </div>
        <div class="head-message">
            欢迎用户
        </div>
    </div>
    <div>
        <div class="menu">
            <ul>
                <li>
                    <label for="techSystem">技术体系</label>
                    <input type="checkbox" id="techSystem" class="hide"/>
                    <div class="check-style"></div>
                    <div class="collapse">
                        <ul>
                            <li><a ui-sref="main.language.java">Java</a></li>
                            <li><a ui-sref="main.language.springboot">Sprint boot</a></li>
                            <li>Angular</li>
                            <li>React</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <label for="spitSystem">吐槽专区</label>
                    <input type="checkbox" id="spitSystem" class="hide"/>
                    <div class="check-style"></div>
                </li>
                <li>
                    <label for="abilitySystem">能力建设</label>
                    <input type="checkbox" id="abilitySystem" class="hide"/>
                    <div class="check-style"></div>
                </li>
            </ul>
        </div>
        <div class="container" ui-view></div>
    </div>
</div>